@font-face {
  font-family: 'mukta-bold';
  src: url('font/Mukta-Bold.ttf');
}

@font-face {
  font-family: 'mukta-light';
  src: url('font/Mukta-Light.ttf');
}

body {
  background-color: #d5e1ef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  top: 10px;
  border-radius: 20px;
  background-color: white;
  width: 270px;
  height: 495px;
  padding: 10px;
  box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.1);
}

img {
  border-radius: 20px;
  height: 100%;
  width: 100%;
}

.textcontainer {
  text-align: center;
}

h2 {
  font-family: 'mukta-bold';
}
p {
  font-family: 'mukta-light';
  font-size: 16px;
  width: 260px;
}

@media screen and (max-width: 400px) {
  .main {
    width: 350px;
  }
}
